# ===========================
# Flutter / Dart
# ===========================
.dart_tool/
.packages
.pub/
.pub-cache/
.pub-preload-cache/

build/
flutter_*.png
linked_*/

# Generated
**/generated_plugin_registrant.dart

# ===========================
# Project local files
# ===========================
*.iml
*.ipr
*.iws
*.lock

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json

# IntelliJ / Android Studio
.idea/
android/.idea/

# Logs
*.log

# ===========================
# Android
# ===========================
android/local.properties
**/android/.gradle/
**/android/app/build/
**/android/**/captures/
**/android/key.properties
**/android/app/google-services.json

# Gradle wrapper cache
.gradle/
gradle/

# Keystore files
*.jks
*.keystore

# ===========================
# iOS / Xcode
# ===========================
ios/Pods/
ios/Podfile.lock
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id
**/ios/**/xcuserdata/
**/ios/**/DerivedData/
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.perspectivev3

# ===========================
# macOS
# ===========================
macos/Pods/
macos/Podfile.lock
macos/Flutter/ephemeral/
**/macos/**/xcuserdata/

# ===========================
# Windows
# ===========================
windows/flutter/ephemeral/

# ===========================
# Linux
# ===========================
linux/flutter/generated_plugin_registrant.*
linux/flutter/generated_plugins.cmake

# ===========================
# Web
# ===========================
web/manifest.json
web/favicon.png

# ===========================
# Environment / Secrets
# ===========================
.env
*.db
*.sqlite

# ===========================
# Coverage
# ===========================
coverage/

# ===========================
# Misc
# ===========================
*.class
*.pyc
*.swp
.history
.buildlog/
